.editBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 13px 18px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: transparent;
  color: #0d1b1e;
  background: #90708ccc;
  transition: all 0.25s ease;
  box-shadow: #2c3e50;
}

.editBtn:hover {
  box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.089);
  transform: translateY(-5px);
  background: #90708c;
}
