.createTask {
  cursor: pointer;
  font-weight: 500;
  padding: 10px 18px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: transparent;
  color: #0d1b1e;
  background: #3c787e;
  transition: all 0.25s ease;
  box-shadow: #2c3e50;
}

.createTask:hover {
  box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.089);
  transform: translateY(-5px);
  background: #3c787e;
}
.list {
  list-style-type: none;
  text-align: left;
  /* margin: auto; */
  margin-left: 20%;
  margin-right: 20%;
  font-weight: 400;
  font-size: 1.35rem;
  background-color: #eff2dd30;
  color: #0d1b1e;
}
/*styling the div above the ul and li */
.listA {
  list-style-type: none;
  text-align: center;
  font-weight: 400;
  font-size: 35px;
  background-color: transparent;
}
.container {
  width: 100%;
  background-color: #99aa3857;
  /* background-color: transparent; */
  /* margin: auto; */
  height: 100vh;
  border: #0d1b1e;
  border-radius: 2px;
}
.createTaskContainer {
  display: flex;
  flex-direction: row;
  margin-left: 130px;
}
.goTime {
    margin-top: 15px;
  cursor: pointer;
  font-weight: 500;
  padding: 10px 18px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: transparent;
  color: #0d1b1e;
  background: #90708c95;
  transition: all 0.25s ease;
  box-shadow: rgb(4, 5, 7);
}

.goTime:hover {
  box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.089);
  transform: translateY(-10px);
  background: #90708c;
}

.timeLabel {
  font-size: large;
  font-weight: 600;
  margin-right: 12px;
  /* flex-direction: row-reverse; */
}
.timeInput {
  height: 25px;
  min-width: 70px;
  padding: 15px, 20px;
  margin: 8px, 0;
  box-sizing: border-box;
  text-align: center;
  
}
