.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0d1b1e;
  text-shadow: black;
}
.modalBody {
  border: 1px;
  border-color: transparent;
  color: rgb(32, 51, 51);
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  /* box-shadow: rgba(3, 33, 68, 0.829); */
}

/* style for the modal window*/
.modalContent {
  width: 500px;
  border-radius: 13px;
  /* background-color: #fff; */
  background-color: #e5e9ec;
}
.taskForm {
  border-radius: 15px;
  /* background-color: #343b6fc2; */

  background-color: #4936616f;
  cursor: pointer;
}

.modalHeader {
  margin: 0;
}
.modalFooter {
  margin-block-start: 1.33rem;
  background-color: transparent;
}

.formTitle {
  min-width: 200px;
  border-radius: 3px;
  box-shadow: inset;
  text-align: center;
  height: fit-content;
}
.formDescription {
  padding: 0px;
  /* width: min 200px; */
  min-width: 200px;
  border-radius: 3px;
  border-color: transparent;
  text-align: center;
}

.flexContainer {
  display: flex;
  border-radius: 2px;
  /* border-color: black; */
  column-gap: 9px;
}

.formEstimate {
  padding: 0px;
  flex-direction: row-reverse;
  row-gap: 100px;
  height: 18px;
  width: 22;
  text-align: center;
  border-radius: 3px;
}

.formDate {
  height: 19px;
  cursor: pointer;
  border-radius: 3px;
}

.submitBtn {
  background-color: #d4b1ea;
  padding: 8px;
  margin: auto;
  border-radius: 4px;
  box-shadow: #00000072;
  cursor: pointer;
}
.sbButton {
  background-color: #492b5c3e;
  padding: 5px;
  /* margin: auto; */
  border-radius: 4px;
  box-shadow: #00000072;
  cursor: pointer;
}
