.welcomeArticle {
    cursor: pointer;
    font-weight: 500;
    padding: 10px 18px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: transparent;
    color: #0d1b1e;
    background: #90708ccc;
    transition: all 0.25s ease;
    box-shadow: #2c3e50;
  }
  .welcomeHeader{
    background-color: #99aa3857;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 0;
    box-shadow: #0d1b1e;
  }
  
  .welcomeArticle:hover {
    box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.089);
    transform: translateY(-5px);
    background: #90708cb3;
  }
  .welcomeArticle {
    list-style-type: none;
    text-align: left;
    /* margin: auto; */
    margin-left: 20%;
    margin-right: 20%;
    font-weight: 400;
    font-size: 1.35rem;
    background-color: #eff2dd30;
    color: #0d1b1e;
  }
  /*styling the div above the ul and li */
  .listA {
    list-style-type: none;
    text-align: center;
    font-weight: 400;
    font-size: 35px;
    background-color: transparent;
  }
  .welcomeContainer {
    width: 100%;
    background-color: #99aa3857;
    /* background-color: transparent; */
    /* margin: auto; */
    height: 100vh;
    border: #0d1b1e;
    border-radius: 2px;
  }
  .createTaskContainer {
    display: flex;
    flex-direction: row;
    margin-left: 130px;
  }
  .goTime {
    margin-top: 15px;
    font-weight: 700;
  }
  .timeLabel {
    font-size: large;
    font-weight: 600;
    margin-right: 12px;
  }
  .timeInput{
      height: 20px;
      width: 70px;
      padding: 15px,20px;
      margin: 8px,0;
      box-sizing: border-box;
  }