.App {
  text-align: center;
  /* align-self: start; */
}

.App-link {
  color: fuchsia;
}

form {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #343b6f72;
  align-items: center;
  /* flex-wrap: wrap; */
  flex-direction: column;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-start;
  outline-style: none;
}
input {
  box-shadow: 0;
  border: none;
  border-radius: 2px;
}
.submitBtn {
  background-color: #b8ffe7ad;
}
button {
  margin: 5px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.on {
  color: rgb(255, 234, 0);
}
.off {
  color: #ccc;
}
.onMouseEnter {
  color: #052d38;
}
.navigation {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #052d384d;
  color: #010230;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}



.navigation-menu {
  margin-left: auto;
}
.navigation-menu ul {
  display: flex;
  padding: 0;
}

.navigation li {
  list-style-type: none; /* removes dots to the right of list */
  margin: 0 1rem;
}
.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}
