.displayFlex {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 50%;
  max-width: 500px;
  align-items: center;
  border-color: transparent;

  border-radius: 2px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  background-color: #3c787ecd;
}
.done {
  color: rgb(26, 255, 0);
  display: flex;
  flex-direction: column;
}
.container {
  margin-top: 0;
  padding-left: 50px;
  padding-right: 50px;

  flex-wrap: wrap;

  justify-content: center;
  text-align: center;
  align-items: center;
}

.displayFlex:hover {
  box-shadow: 0 10px 20px -10px rgba(155, 62, 78, 0.089);
  /* transform: translateY(-5px); */
  background-color: #3c787eb6;
  border: 2px solid rgba(0, 0, 0, 0.19);
}

.settingsContainer {
  align-items: center;
}

.actionItems {
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: space-evenly;
}

.editBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 13px 18px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: transparent;
  color: #0d1b1e;
  background: #90708ccc;
  transition: all 0.25s ease;
  box-shadow: #2c3e50;
}

.editBtn:hover {
  box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.089);
  transform: translateY(-5px);
  background: #90708c;
}
